<div class="dropdown">
    <button class="dropbtn" style="display:flex; align-content:center">
        @Text
        <Ico Class="l-1" Icon="@Icons.Add" Color="white" Size="1.4"/>
    </button>
    <div class="dropdown-content">
        @foreach(var (key, options) in Options)
        {
            <div class="key">
                <b>@key</b>
            </div>
            @foreach(var option in options)
            {
                var (k, o) = (key, option);
                <div class="option" @onclick="() => OnSelect?.Invoke(k,o)">
                    @option
                </div>
            }
        }
    </div>
</div>

@code {
    [Parameter]
    public List<(string, List<string>)> Options { get; set; } = [];

    [Parameter]
    public Action<string, string>? OnSelect { get; set; }

    [Parameter]
    public string Text { get; set; } = "";
}
