<div class="glare-container" style="width: fit-content; height: fit-content;">
    <div class="@(Loading ? "img-cont" : "img-still-cont")" style="--l: #ff4545, #00ff99, #006aff, #ff0095, #ff4545">
        @if (ErrorMessage != null)
        {
            <div class="error-message">@ErrorMessage</div>
        }
        else
        {
            <img class="img" id="@Id" src="@ImageSrc" />
        }
    </div>
    @if(Loading)
    {
        <div class="glare"></div>
    }
</div>

@inject IJSRuntime JSRuntime
@code {
    [Parameter]
    public string ImageSrc { get; set; }

    [Parameter]
    public string? ErrorMessage { get; set; }

    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public bool Loading { get; set; } = false;
}
