.glare-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.glare {
    position: absolute;
    top: -500%;
    left: -200%;
    width: 40%;
    height: 300%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.32) 0%, rgba(255, 255, 255, 0.02) 50%);
    transform: rotate(45deg);
    mask-size: 100%;
    mask-position: -50%;
    animation: shine 1.8s linear infinite;
}

@keyframes shine {
    0% {
        top: -400%;
        left: -100%;
    }

    100% {
        top: 150%;
        left: 100%;
    }
}

.error-message {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 6rem;
    font-size: 2rem;
    color: #c30101;
    white-space: pre-wrap;
    background: white;
    border-radius: 20px;
}

.img-still-cont {
    border: solid 8px #dbdbdb;
    border-radius: 20px;
    background: none;
}

.img-cont {
    border-radius: 20px;
    border: solid 8px #0000;
    background: repeating-conic-gradient(from var(--a, 0deg), var(--l, #0000 0% 70%, #0000ff7f)) border-box;
    animation: a 2s linear infinite;
}

.img {
    background: white;
    margin-bottom:-5px;
    border-radius: 12px;
}

@property --a {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false
}

@keyframes a {
    to {
        --a: 1turn
    }
}
