@page "/collection"
<style>
    #app{
    display: block !important;
    }
</style>

@Home.Header()
<div id="subheader">
    <div id="subheader-image-text">
        <img src="main-back.png" alt="abstract-background" />
        <span id="img-text">
            Your Likes
        </span>
    </div>
</div>

<div id="gallery" class="gallery-page">
    <div id="gallery-items">
        @foreach (var (query, id, image) in images)
        {
            <GalleryImage Image="@image" Query="@query" QueryId="@id" OnClick="async() => await LoadImage(query, image)"/>
        }
    </div>
</div>

@using System.Text
@using Newtonsoft.Json;
@inject IJSRuntime JS
@inject NavigationManager NavManager
@inject LikesService LikesService
@code {
    List<(string query, string id, string image)> images = [];

    protected override async Task OnInitializedAsync()
    {
        images = (await LikesService.LoadAllLiked()).Select(l => (l.query, l.id, l.image)).ToList();
    }

    private async Task LoadImage(string query, string image)
    {
        await JS.InvokeVoidAsync("localStorage.setItem", "image", image);
        await JS.InvokeVoidAsync("localStorage.setItem", "query", query);
        await Task.Delay(100);
        NavManager.NavigateTo("/gen/session");
    }
}
