@page "/"
@using Newtonsoft.Json
@using System.Text

<LayersModal @ref="Modal" />

<div>
    <div class="image-block" style="display: flex;
                                    justify-content: center;
                                    align-items: center;">
        <div style="display:flex; flex-direction: column;">
            <img id="main-img" style="width:30vw; height: auto" src="@imageSrc" />
        </div>
        <div style="width:2rem; height: 2rem"/>
        <div class="layers-list" style="display:flex; flex-direction: column;">
            @if (blending != null)
            {
                <LayerCard Layer="blending" Update="StateHasChanged" ParentList="null" />
            }
        </div>
    </div>
</div>


<button @onclick="GenerateInage">Generate Image</button>


@code{
    private string imageSrc = "R.jpg";
    public static Blending blending;
    public static LayersModal Modal;

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        blending = (await Blending.GetLayerOptions()).First();
    }

    private async void GenerateInage()
    {
        var httpClient = new HttpClient();
        var query = new QueryObject(1028, 1028, blending);
        var str = JsonConvert.SerializeObject(query);
        var content = new StringContent(str, Encoding.UTF8, "application/json");
        var response = await httpClient.PostAsync(Program.BaseApiUrl + "/image-generator/query/full?include_metadata=true", content);
        if (response.IsSuccessStatusCode)
        {
            var parser = HttpMultipartParser.MultipartFormDataParser.Parse(await response.Content.ReadAsStreamAsync());
            Stream imageStream = parser.Files[0].Data;
            Stream jsonStream = parser.Files[1].Data;

            using (StreamReader reader = new StreamReader(jsonStream))
            {
                var json = reader.ReadToEnd();
            }
            
            imageSrc = $"data:image/png;base64,{Convert.ToBase64String(ReadFully(imageStream))}";
            StateHasChanged();
        }
    }

    public static byte[] ReadFully(Stream input)
    {
        using (MemoryStream ms = new MemoryStream())
        {
            input.CopyTo(ms);
            return ms.ToArray();
        }
    }
}
