@page "/"

<div>
    <div class="image-block" style="display: flex;
                                    justify-content: center;
                                    align-items: center;">
        <div style="display:flex; flex-direction: column;">
            <img id="main-img" style="width:30vw; height: auto" src="R.jpg" />
        </div>
        <div style="width:2rem; height: 2rem"/>
        <div class="layers-list" style="display:flex; flex-direction: column;">
            @if (blending != null)
            {
                <LayerCard Layer="blending" Update="StateHasChanged" ParentList="null" />
            }
        </div>
    </div>
</div>


@code{
    public static Blending blending;

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        blending = (await Blending.GetLayerOptions()).First();
        blending.SubLayers = [(await Drawing.GetLayerOptions()).First()];
    }
}
