@page "/"

<div>
    <div class="image-block" style="display: flex;
                                    justify-content: center;
                                    align-items: center;">
        <div style="display:flex; flex-direction: column;">
            <img id="main-img" style="width:30vw; height: auto" src="R.jpg" />

        </div>
        <div style="width:2rem; height: 2rem"/>
        <div class="layers-list" style="display:flex; flex-direction: column;">
            <LayerCard Layer="blending" Update="StateHasChanged" ParentList="null"/>
        </div>
    </div>
</div>


@code{
    public static readonly Blending blending = new()
    {
        title = "Final Blending",
        type = "Opacity Layering",
        settings = [
            new(){
                title = "Rotation Transfrom",
                type = LayerSettingType.Angle,
                value = 35
            }
        ],
        inheritedSettings = [],
        hereditarySettings = [
            new(){
                title = "Opacity (inh)",
                type = LayerSettingType.Angle,
                value = 100
            }
        ],
        subLayers = []
    };
}
