@page "/"
<style>
    #app{
        display: block !important;
    }
</style>

@Header()
<div id="subheader">
    <div id="subheader-image-text">
        <img src="main-back.png" alt="abstract-background" />
        <span id="img-text">
            Abstract Images
        </span>
    </div>
    <a href="/gen">
        Generate
    </a>
</div>
<div id="home-info">
    <p style="margin: 1rem; font-size: 1.2rem;">
        Unleash your creativity with our interactive abstract background generator!
        Adjust parameters like color saturation, noise level, symmetry, and geometric intensity using intuitive sliders.
        Choose from curated color palettes or generate your own, specify image dimensions, and export high-resolution PNG files.
        Instantly share your creations and explore an inspiration mode for fresh ideas.
        Developers can integrate our powerful API for automated image generation.
        Start designing your perfect background today!
    </p>

    <div id="gallery">
        <span style="font-size:3rem; font-weight: 400; margin-bottom: 0.5rem;">Gallery</span>
        <div id="gallery-items">
            @foreach (var (id, image) in gallery)
            {
                <GalleryImage Image="@image" QueryId="@id" OnClick="() => {NavigationManager.NavigateTo(uri + id);}" />
            }
        </div>
    </div>
</div>


@using Newtonsoft.Json;
@inject NavigationManager NavigationManager
@code {
    private const string uri = "/gen/gallery:";
    private string? selectedId = null;
    List<(string id, string image)> gallery = [];

    protected override async Task OnInitializedAsync()
    {
        var client = new HttpClient();
        var uri = Program.BaseApiUrl(NavigationManager);
        uri += "/template-query/all?include_metadata=true&include_image=true&full_metadata=false";
        var response = await client.GetAsync(uri);
        if (response.IsSuccessStatusCode)
        {
            var parser = HttpMultipartParser.MultipartFormDataParser.Parse(await response.Content.ReadAsStreamAsync());
            for (int i = 0; i < parser.Files.Count; i += 2)
            {
                Stream imageStream = parser.Files[i].Data;
                Stream jsonStream = parser.Files[i + 1].Data;
                var json = new StreamReader(jsonStream).ReadToEnd();
                var id = JsonConvert.DeserializeObject<Dictionary<string, string>>(json)?["template_query_id"];
                if (id != null)
                    gallery.Add((id, $"data:image/jpg;base64,{Convert.ToBase64String(imageStream.ReadFully())}"));
            }
            StateHasChanged();
        }
    }

    internal static RenderFragment Header()
    {
        return@<div id="header">
            <Ico Icon="@Icons.Wallpaper" Color="#c6be1b" Size="3"/>
            <a href="/">Home</a>
            <a href="/gen">Generate</a>
            <a href="/inspiration">Inspiration</a>
            <a href="/popular">Popular</a>
            <a href="/collection">Collection</a>
        </div>;
    }
}
